vm/src/main/mule/vm.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="12cb885e-42ab-4554-9731-3a7b0d06ff94" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="f19319df-3dcd-4e0d-beec-b9d0d6656632" >
		<vm:queues >
			<vm:queue queueName="sampleq" />
		</vm:queues>
	</vm:config>
	<flow name="vmFlow" doc:id="bba9abc8-649e-4622-abc2-97186752ea7e" >
		<http:listener doc:name="Listener" doc:id="ca86fee4-6adc-4d5f-9a6f-42e0b293756f" config-ref="HTTP_Listener_config" path="vm" allowedMethods="POST"/>
		<vm:publish queueName="sampleq" doc:name="Publish" doc:id="b5475d1b-23a6-4453-8e2f-f7e6b16768a7" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="d3c86622-5843-454a-b830-c8c07de1d0d3" message="#[payload]"/>
	</flow>
	<flow name="vmFlow1" doc:id="6b9f1f48-283b-4c16-acc8-0f8de8f34577" >
		<vm:listener queueName="sampleq" doc:name="Listener" doc:id="d6dc5e29-7ec7-4d35-b688-e1d54cf85adb" config-ref="VM_Config"/>
		<vm:consume queueName="sampleq" doc:name="Consume" doc:id="4e187450-5b07-4a87-8c59-e98e28533867" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="a5f7bca6-1a77-4d53-8218-0caed3518887" message="#[payload]"/>
	</flow>
</mule>
